/_build
/_dist
/eclipse-bin
*.iml
*.ipr
target/
!izpack-panel/src/main/java/com/izforge/izpack/panels/target/
!izpack-panel/src/test/java/com/izforge/izpack/panels/target/
*.iws
*~
*.orig
*.jar
izpack-compiler/out.zip
.project
.settings
.classpath
.metadata
.idea
